@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



radio po ovome https://learn.microsoft.com/en-us/training/modules/build-blazor-webassembly-visual-studio-code/?WT.mc_id=dotnet-35129-website



<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10"/>